body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  display: flex;
  justify-content: flex-end;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-width: 300px;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.barreRecherche {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-width: 500px;
  max-width: 1500px;
  margin: auto;
  margin-top: 20px;
}

.profileInfos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.profileInfo {
  min-width: 50%;
  margin-bottom: 40px;
}

.PokemonR{
  text-align: left;
  padding: 10px;
  margin:10px;
  border: 4mm ridge rgba(170, 50, 220, .6);
}

.Berry{
  text-align: left;
  padding: 10px;
  margin:10px;
  border: 4mm ridge rgba(50, 75, 220, 0.6);
}

.Items{
  text-align: left;
  padding: 10px;
  margin:10px;
  border: 4mm ridge rgba(50, 195, 220, 0.6);
}

.Skill{
  text-align: left;
  padding: 10px;
  margin:10px;
  border: 4mm ridge rgba(50, 220, 64, 0.6);
}

.infoPokemon{
  min-width: 50%;
  margin-bottom: 40px;
}

.container {
  background-color: #626d81;
}

.profilDresseur {
  text-align: left;
  padding: 10px;
  margin:10px;
  border: 4mm ridge rgba(220, 50, 50, 0.6);
}

.GuideMeteoGO {
  text-align: left;
  padding: 10px;
  margin:10px;
  border: 4mm ridge rgba(217, 220, 50, 0.6);
}